.wrapper {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

main {
    overflow: auto; /* prevent margins from escaping parent element */
}

.homepage {
    nav,
    header,
    main,
    footer {
        display: none;
    }
}

button {
    color: $primary;
    background-color: $secondary;
    border: none;
    padding: 0.5rem 2rem;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        background-color: $tertiary;
        &:focus {
            border: $primary 1px dashed;
        }
    }
}
