header {
    background-color: $quinary;
    .wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .headerImgContainer {
            width: 45%;
            img {
                max-width: 100%;
                vertical-align: middle; /*if you have extra space be in the middle*/
                box-shadow: 1rem 1rem 0px white;
                position: relative;
                top: 3rem;
            }
        }
        .headerContent {
            width: 55%;
            .contentContainer {
                margin: 0 auto;
                width: 65%;
                h1 {
                    position: relative;
                }
                img {
                    position: absolute;
                    right: -3rem;
                    bottom: 0.5rem;
                }
            }
        }
    }
}

/*Contact page header & blog page header*/

.contactHeader,
.blogHeader {
    min-height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    h1 {
        position: relative;
        top: 20rem;
    }
}

.contactHeader {
    background-image: url(../assets/contact-image-1.jpg);
}

.blogHeader {
    background-image: url(../assets/blog-image-1.jpg);
}
