.loadingContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $quinary;
}

.circleOne {
    background: rgba(246, 246, 246, 0.5);
    height: $circleSize;
    width: $circleSize;
    border-radius: 50%;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-name: bounceOne;
    transition-timing-function: ease;
}

@keyframes bounceOne {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-80px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.circleTwo {
    background: rgba(243, 141, 141, 0.5);
    height: $circleSize;
    width: $circleSize;
    border-radius: 50%;
    animation-duration: 5s;
    animation-name: bounceTwo;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
}

@keyframes bounceTwo {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-90px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.circleThree {
    width: $circleSize;
    height: $circleSize;
    background: rgba(34, 114, 132, 0.5);
    border-radius: 50%;
    animation-duration: 1s;
    animation-name: bounceThree;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
}

@keyframes bounceThree {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-90px);
    }
    60% {
        transform: translateY(-15px);
    }
}
