/* _mediaQueries.scss */

@media (max-width: 1080px) {
    /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
    .homeHeader,
    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 0.8rem;
    }

    .travelsContainer,
    .favouriteThingsContainer,
    .journeyContainer {
        flex-direction: column;

        .textContainer {
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            width: 100%;
        }

        .imageContainer {
            width: 100%;
            margin-top: 1rem;
        }

        h2,
        h3 {
            margin-top: 1rem;
        }
    }

    .travels,
    .favouriteThingsContainer,
    .journey {
        .imageContainer {
            box-shadow: none;
            position: static;

            img {
                box-shadow: none;
                width: 100%;
            }
        }
    }

    .journey {
        background: none;
        padding-top: 2rem;
        .imageContainer {
            width: 50%;
            margin: 0 auto;
        }
    }

    .favouriteThingsContainer {
        flex-direction: column-reverse;
    }

    .galleryItem {
        width: 100%;
    }

    .contactFormContainer {
        flex-direction: column-reverse;

        .contactForm {
            width: 100%;
            margin: 4rem 0;
        }

        .contactInfoContainer {
            width: 100%;
            margin: 0;
        }
    }
}

@media (max-width: 800px) {
    /* all of our styles for TABLET devices will go within this breakpoint */
    .navBar ul {
        flex-direction: column;
        align-items: center;
    }

    .menuHarper {
        display: none;
    }

    header {
        .wrapper {
            flex-direction: column;

            .headerImgContainer {
                img {
                    box-shadow: none;
                }
            }

            .headerContent {
                .contentContainer {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    .whosHarper {
        .textContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
    }

    .linkContainer {
        .linkItem {
            width: 100%;
        }
    }

    .blog {
        .flexContainer {
            flex-direction: column-reverse;

            .blogPost,
            aside {
                width: 100%;
            }
        }

        .aboutHarperContent {
            img {
                width: 50%;
                align-self: center;
            }
        }
    }

    .nameEmail {
        flex-direction: column;

        input {
            width: 100%;
        }
    }
}

@media (max-width: 500px) {
    /* all of our styles for MOBILE devices will go within this breakpoint */
    header {
        .wrapper {
            .headerContent {
                width: 100%;
            }
        }

        .homeHeader,
        h1 {
            font-size: 3rem;
        }
    }
}
