main section {
    margin-bottom: 3rem;
}
.whosHarper {
    background-color: $shadeWhite;
    margin-bottom: 0;
}

.whosHarperContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .textContainer {
        width: 50%;
        margin-top: 6rem;
    }
}

.backgroundImageContainer {
    height: 60vh;
    padding-bottom: 4rem;
    .backgroundImage {
        background-image: url("../assets/home-image-2.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100%;
    }
}

.moreLinks,
.journey {
    background-color: $shadeWhite;
    padding: 8rem 0 4rem 0;
}

.moreLinks,
.favouriteThings {
    margin-bottom: 0;
}

.linkContainer {
    display: flex;
    flex-wrap: wrap;
    .linkItem {
        width: 50%;
        margin-bottom: 1rem;
        a {
            display: flex;
            align-items: center;

            h3 {
                padding: 0 0 0 1rem;
            }
        }

        p {
            margin-right: 1rem;
        }
    }
}

.backgroundIcon {
    background-color: $quinary;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.travelsContainer {
    display: flex;
    align-items: flex-end;
    .textContainer {
        margin-left: 6rem;
        margin-bottom: 1rem;
    }
}

.journeyContainer {
    display: flex;
    .imageContainer {
        vertical-align: middle;
        width: 30%;
        margin-right: 2rem;

        img {
            max-width: 100%;
            vertical-align: middle;
            box-shadow: 1rem 1rem 0px $quaternary;
        }
    }
    .textContainer {
        width: 70%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
    }
}

.travels .imageContainer {
    box-shadow: -10rem 1rem 0px $tertiary;
    position: relative;
    bottom: 2rem;

    img {
        box-shadow: 1rem 1rem 0px $tertiary;
    }
}

.favouriteThingsContainer {
    display: flex;
    .textContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 3rem;

        h3 {
            align-self: flex-start;
        }

        .button {
            align-self: flex-end;
        }
    }
    .imageContainer {
        position: relative;
        top: 1rem;
        box-shadow: 10rem 1rem 0px $quinary;

        img {
            box-shadow: 1rem 1rem 0px $quinary;
        }
    }
}

.galleryContainer {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.galleryItem {
    width: 30%;
    margin-bottom: 1rem;

    img {
        width: 100%;
    }
}

/*Contact page section*/

.socialIcons {
    display: flex;
    li {
        margin-right: 1.5rem;
    }
    i {
        color: $quaternary;
        font-size: 1.5rem;
    }
}

.contactInfoContainer {
    background: #ffff;
}

/*Blog page section*/

.blog {
    background: $shadeWhite;
    .flexContainer {
        display: flex;
        aside {
            width: 30%;
            .img {
                max-width: 100%;
            }
        }
        .blogPost {
            width: 60%;
        }
    }
}

.blog h2 {
    padding: 1rem 0;
}

.aboutHarperContent {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.aboutHarperContent,
.recentPosts,
.postContainer,
.commentContainer {
    background-color: #ffff;
    padding: 2rem;
}
.recentPosts {
    margin-top: 1rem;
    ul {
        list-style-type: disc;
        list-style-position: inside;
        li a:hover {
            color: $quaternary;
        }
    }
}

.postContainer {
    border-bottom: 0.2rem solid $quaternary;
    margin-top: 4rem;
}

.postContainer {
    padding-bottom: 3rem;
}

.blogPost {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.commentContainer {
    display: flex;
    margin-bottom: 1rem;
    &:last-child {
        margin-bottom: 0;
    }
    p {
        margin: 0;
    }
    .commentImgContainer {
        width: 50%;
        img {
            max-width: 100%;
        }
    }
}

.commentsContainer {
    margin: 2rem 0;
    border-bottom: 0.2rem solid $quaternary;
}
