/*site fonts*/

$headingFont: "Oswald", sans-serif;
$bodyFont: "Cabin", sans-serif;

$baseFontSize: 1rem;

/*site colors*/
$primary: #171717; //black
$secondary: #f38d8d; //accent
$tertiary: #68b0c1; //greyblue
$quaternary: #227284; //dusk-blue
$quinary: #b9dde7; //light-blue-grey
$shadeWhite: #f6f6f6; //white-shade
