html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*site fonts*/
/*site colors*/
html {
  font-size: 125%;
  /*1 rem=20px*/
}

body {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  letter-spacing: 0px;
  line-height: 32px;
  color: #171717;
}

h1,
h2,
h3,
h4,
nav,
button {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

h1 {
  font-size: 4rem;
  line-height: 4.6rem;
}

h2,
.menuHarper {
  font-size: 2.1rem;
  /*42px*/
}

h3 {
  font-size: 1.6rem;
  /*32px*/
}

ul,
li,
a {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.homeHeader {
  display: inline-block;
  font-size: 6rem;
  line-height: 6rem;
}

.active {
  color: #f6f6f6;
}

.contactInfoContainer p a {
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

/*

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding: inherit;
        margin: inherit;
    }

*/
.navBar {
  padding: 1rem 0;
  background-color: #b9dde7;
}
.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navBar ul li {
  margin: 0rem 2rem;
}
.navBar ul a:hover {
  color: #f6f6f6;
}

/*need to add focus with hover for accessibility*/
.wrapper {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

button {
  color: #171717;
  background-color: #f38d8d;
  border: none;
  padding: 0.5rem 2rem;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover {
  background-color: #68b0c1;
}

/*add focus on button*/
header {
  background-color: #b9dde7;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .wrapper .headerImgContainer {
  width: 45%;
}
header .wrapper .headerImgContainer img {
  max-width: 100%;
  vertical-align: middle;
  /*if you have extra space be in the middle*/
  -webkit-box-shadow: 1rem 1rem 0px white;
          box-shadow: 1rem 1rem 0px white;
  position: relative;
  top: 3rem;
}
header .wrapper .headerContent {
  width: 55%;
}
header .wrapper .headerContent .contentContainer {
  margin: 0 auto;
  width: 65%;
}
header .wrapper .headerContent .contentContainer h1 {
  position: relative;
}
header .wrapper .headerContent .contentContainer img {
  position: absolute;
  right: -3rem;
  bottom: 0.5rem;
}

/*Contact page header & blog page header*/
.contactHeader,
.blogHeader {
  min-height: 50vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
}
.contactHeader h1,
.blogHeader h1 {
  position: relative;
  top: 20rem;
}

.contactHeader {
  background-image: url(../assets/contact-image-1.jpg);
}

.blogHeader {
  background-image: url(../assets/blog-image-1.jpg);
}

main section {
  margin-bottom: 3rem;
}

.whosHarper {
  background-color: #f6f6f6;
  margin-bottom: 0;
}

.whosHarperContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.whosHarperContainer .textContainer {
  width: 50%;
  margin-top: 6rem;
}

.backgroundImageContainer {
  height: 60vh;
  padding-bottom: 4rem;
}
.backgroundImageContainer .backgroundImage {
  background-image: url("../assets/home-image-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
}

.moreLinks,
.journey {
  background-color: #f6f6f6;
  padding: 4rem 0;
}

.linkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.linkContainer .linkItem {
  width: 50%;
}
.linkContainer .linkItem a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.linkContainer .linkItem a h3 {
  padding: 0 0 0 1rem;
}
.linkContainer .linkItem p {
  margin-right: 1rem;
}

.backgroundIcon {
  background-color: #b9dde7;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.travelsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.travelsContainer .textContainer {
  margin-left: 3rem;
}

.journeyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.journeyContainer .imageContainer {
  width: 45%;
  vertical-align: middle;
}
.journeyContainer .imageContainer img {
  max-width: 100%;
  vertical-align: middle;
  -webkit-box-shadow: 1rem 1rem 0px #227284;
          box-shadow: 1rem 1rem 0px #227284;
}
.journeyContainer .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.travels .imageContainer {
  -webkit-box-shadow: -10rem 1rem 0px #68b0c1;
          box-shadow: -10rem 1rem 0px #68b0c1;
}

.favouriteThingsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.favouriteThingsContainer .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 3rem;
}
.favouriteThingsContainer .textContainer .button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.favouriteThingsContainer .imageContainer {
  -webkit-box-shadow: 10rem 1rem 0px #b9dde7;
          box-shadow: 10rem 1rem 0px #b9dde7;
}

.galleryContainer {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*Contact page section*/
.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socialIcons li {
  margin-right: 1.5rem;
}
.socialIcons i {
  color: #227284;
  font-size: 1.5rem;
}

.contactInfoContainer {
  background: #ffff;
}

/*Blog page section*/
.blog {
  background: #f6f6f6;
}
.blog .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog .flexContainer .aboutHarperContainer {
  width: 30%;
}
.blog .flexContainer .aboutHarperContainer .img {
  max-width: 100%;
}
.blog .flexContainer .blogPost {
  width: 60%;
}

h3 {
  padding-top: 2rem;
}

.aboutHarperContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
}

.aboutHarperContent,
.recentPosts,
.postContainer,
.commentContainer {
  background-color: #ffff;
  padding: 2rem;
}

.recentPosts {
  margin-top: 2rem;
}

.postContainer {
  border-bottom: 0.2rem solid #227284;
  margin-top: 4rem;
}

.postContainer {
  padding-bottom: 3rem;
}

.blogPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.commentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}
.commentContainer:last-child {
  margin-bottom: 0;
}
.commentContainer p {
  margin: 0;
}
.commentContainer .commentImgContainer {
  width: 50%;
}
.commentContainer .commentImgContainer img {
  max-width: 100%;
}

.commentsContainer {
  margin: 2rem 0;
  border-bottom: 0.2rem solid #227284;
}

/* Contact form */
.contact {
  background: #f6f6f6;
}

.contactFormContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contactInfoContainer {
  padding: 1.5rem;
  margin: 4rem 0 1rem 0;
  width: 30%;
}
.contactInfoContainer p {
  margin-bottom: 0;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(70% - 2rem);
  margin: 4rem 0 0 2rem;
}

.nameEmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}
.nameEmail input {
  width: 50%;
}

input,
textarea {
  padding: 1rem;
  border: none;
  margin-bottom: 1rem;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #171717;
  font-size: 0.8rem;
  opacity: 1;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #171717;
  font-size: 0.8rem;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #171717;
  font-size: 0.8rem;
  opacity: 1;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #171717;
  font-size: 0.8rem;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  color: #171717;
  font-size: 0.8rem;
  opacity: 1;
}

/*should put styles above in typography?*/
textarea {
  min-height: 6rem;
  width: 100%;
}

#name {
  margin-right: 0.5rem;
}

footer {
  background-color: #171717;
  color: white;
  text-align: center;
}

/* _mediaQueries.scss */
@media (max-width: 1000px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
}
@media (max-width: 800px) {
  /* all of our styles for TABLET devices will go within this breakpoin */
}
@media (max-width: 500px) {
  /* all of our styles for MOBILE devices will go within this breakpoin */
}