html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*site fonts*/
/*site colors*/
html {
  font-size: 125%;
  /*1 rem=20px*/
}

body {
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  letter-spacing: 0px;
  line-height: 32px;
  color: #171717;
}

h1,
h2,
h3,
h4,
nav,
button {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}

h1 {
  font-size: 6rem;
  line-height: 6rem;
}

h2 {
  font-size: 2.1rem;
  /*42px*/
}

h3 {
  font-size: 1.6rem;
  /*32px*/
}

ul,
li,
a {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/*

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding: inherit;
        margin: inherit;
    }

*/
.navBar {
  padding: 1.5rem 0;
  background-color: #b9dde7;
}
.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navBar ul li {
  margin: 0rem 2rem;
}
.navBar ul a:hover {
  color: #f6f6f6;
}

/*need to add focus with hover for accessibility*/
.wrapper {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

button {
  color: #171717;
  background-color: #f38d8d;
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
  line-height: 32px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover {
  background-color: #68b0c1;
}

header {
  background-color: #b9dde7;
  min-height: 100vh;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header .wrapper .headerImgContainer {
  width: 45%;
}
header .wrapper .headerImgContainer img {
  max-width: 100%;
  /*dont break container please*/
  vertical-align: middle;
  /*if you have extra space be in the middle*/
  -webkit-box-shadow: 1rem 1rem 1px white;
          box-shadow: 1rem 1rem 1px white;
  position: relative;
  top: 4rem;
}
header .wrapper .headerContent {
  width: 55%;
}
header .wrapper .headerContent .contentContainer {
  margin: 0 auto;
  width: 65%;
}
header .wrapper .headerContent .contentContainer h1 {
  position: relative;
}
header .wrapper .headerContent .contentContainer img {
  position: absolute;
  right: 0;
  bottom: 0.5rem;
}

/*contact header*/
.contactHeader {
  min-height: 50vh;
  background-image: url(../assets/contact-image-1.jpg);
}

main section {
  margin-bottom: 3rem;
}

.whosHarper {
  background-color: #f6f6f6;
  margin-bottom: 0;
}

.whosHarperContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.whosHarperContainer .textContainer {
  width: 50%;
  margin-top: 4rem;
}

.backgroundImage {
  background-image: url("../assets/home-image-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.moreLinks,
.journey {
  background-color: #f6f6f6;
  padding: 4rem 0;
}

.linkContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.linkContainer .linkItem {
  width: 50%;
}
.linkContainer .linkItem a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.backgroundIcon {
  background-color: #b9dde7;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.travelsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.travelsContainer .textContainer {
  margin-left: 3rem;
}

.journeyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.journeyContainer .textContainer {
  width: 55%;
}
.journeyContainer .imageContainer {
  width: 45%;
}
.journeyContainer .imageContainer img {
  max-width: 100%;
  /*dont break container please*/
  vertical-align: middle;
  /*if you have extra space be in the middle*/
  -webkit-box-shadow: 1rem 1rem 1px #227284;
          box-shadow: 1rem 1rem 1px #227284;
}

.travels .imageContainer {
  -webkit-box-shadow: -10rem 1rem 1px #68b0c1;
          box-shadow: -10rem 1rem 1px #68b0c1;
}

.favouriteThingsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.favouriteThingsContainer .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 3rem;
}
.favouriteThingsContainer .textContainer .button {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.favouriteThingsContainer .imageContainer {
  -webkit-box-shadow: 10rem 1rem 1px #b9dde7;
          box-shadow: 10rem 1rem 1px #b9dde7;
}

.galleryContainer {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*Contact page section*/
footer {
  background-color: #171717;
  color: white;
  text-align: center;
}

/* _mediaQueries.scss */
@media (max-width: 1000px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
}
@media (max-width: 800px) {
  /* all of our styles for TABLET devices will go within this breakpoin */
}
@media (max-width: 500px) {
  /* all of our styles for MOBILE devices will go within this breakpoin */
}